DEBUG=True
SECRET_KEY=defina_sua_chave_secreta
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb

AWS_ACCESS_KEY_ID=<some_id_here>
AWS_SECRET_ACCESS_KEY=<some_key_here>
AWS_STORAGE_BUCKET_NAME=<some_bucket_here>